@model Employee
<br />
<br />
<br />
<br />
<br />
<br/>
<br/>
<br/>
<h2 style="color:blue">Add Employee</h2>

<div>
    <form method="post">
       @*  <div class="form-group">
            <label for="EmpId">Employee Id:</label>
            @Html.EditorFor(m=>m.EmpId)
        </div> *@
        <div class="form-group">
            <label for="EmpFirstName">Employee FName:</label>
            @Html.EditorFor(m=>m.EmpFirstName)
        </div>
        <div class="form-group">
            <label for="EmpLastName">Employee LName:</label>
            @Html.EditorFor(m=>m.EmpLastName)
        </div>
        <div class="form-group">
          <label for="EmpDob">Employee DOB:</label>
          @Html.EditorFor(m=>m.EmpDob)
        </div>
        <div class="form-group">
            <label for="EmpAddress">Employee Address:</label>
            @Html.EditorFor(m=>m.EmpAddress)
        </div>
        <div class="form-group">
            <label for="EmpContact">Employee Contact:</label>
            @Html.EditorFor(m=>m.EmpContact)
        </div>
        
        <div>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
</div>
