@model IEnumerable<TravelRequest>

<Center><h2 style="color:blue">Travel Request List</h2></Center>
<br />
<br/>
<br />
<br />
<br />
<br />
<button class="btn btn-outline-success"><a href="/TravelRequest/RaiseRequest">Raise New Travel Request</a></button>
<br />
<br />


@{
    
    @if (Model != null)
    {
        <table class="table table-bordered table-sm table-striped">
            <tr>
                <td>Employee Id</td>
                <td>Request Id</td>    
                <td>From Location</td>
                <td>To Location</td>
                <td>Request Date</td>
                <td>Approve Status</td>
                <td>Booking Status</td>
                <td>Current Status</td>
                <td>Update</td>
                <td>Delete</td>
                <td>Approve Request</td>
                <td>Book Request</td>
            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.EmpId</td>
                    <td>@c.RequestId</td>
                   
                    <td>@c.LocFrom</td>
                    <td>@c.LocTo</td>
                    <td>@c.ReqDate</td>
                    <td>@c.ApprovalStatus</td>
                    <td>@c.BookingStatus</td>
                    <td>@c.CurrentStatus</td>

                    <td>
                        <button class="btn btn-outline-info">
                            <a asp-action="UpdateRequest" asp-route-id=@c.RequestId>Update</a>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger">
                            <a asp-action="DeleteRequest" asp-route-id=@c.RequestId>Delete</a>
                        </button>
                    </td>

                    @if (c.ApprovalStatus == "Pending")
                    {
                        <td>
                            <button class="btn btn-outline-info">
                                <a asp-action="ApproveTravelRequest" asp-route-id=@c.RequestId>Approve Request</a>
                            </button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn btn-outline-info" disabled>
                                <a >Approve Request</a>
                            </button>
                        </td>
                    }

                    @if (c.BookingStatus == "Pending")
                    {
                        <td>
                            <button class="btn btn-outline-info">
                                <a asp-action="BookTravelRequest" asp-route-id=@c.RequestId>Book Request</a>
                            </button>
                        </td>

                    }
                    else
                    {
                        <td>
                            <button class="btn btn-outline-info" disabled>
                                <a>Book Request</a>
                            </button>
                        </td>
                    }


                </tr>
            }
        </table>


    }
    else
    {
        <h3>No Employee to show at this time</h3>
    }
}